/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #222;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
  }
  
  /* Logo styling */
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Links container */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  /* Link styling */
  .navbar-links a {
    color: #bbb;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover a:focus{
    color: #fff;
  }

  .nav-link {
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
    padding-left: 1rem;
  }

  .nav-link:hover {
    background-color: #4b9aee94;
    border-radius: 5px;
    transition: color 0.3s;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .navbar {
      align-items: flex-start;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }
  }
  
  .navbar-text {
    color:inherit;
  }

  .dark-mode-toggle {
    position: fixed; /* Makes the button stay in place during scrolling */
    bottom: 3rem; /* Distance from the bottom of the screen */
    right: 3rem; /* Distance from the right of the screen */
    z-index: 1000; /* Ensures it stays above other content */

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 3px 3px 5px #c9c9c9, -3px -3px 5px #ffffff;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .dark-mode-toggle:hover {
    box-shadow: 5px 5px 8px #c9c9c9, -5px -5px 8px #ffffff;
    transform: scale(1.1);
  }
  
  .dark-mode-toggle.active {
    background: linear-gradient(145deg, #1c1c1c, #2a2a2a);
    box-shadow: 3px 3px 5px #141414, -3px -3px 5px #323232;
    color: #fff;
  }

  .icon {
    transition: transform 0.5s ease;
  }

  .dark-mode-toggle.active .icon {
    transform: rotate(360deg);
  }

  .activePage {
    background-color: #007bffb7;
    color: white !important;
    border-radius: 5px;
    height: calc(100% + 16px); /* Adjust based on navbar padding */
    /* margin: -8px 0; Negative margin to counter padding (adjust as needed) */
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px #003e80de;
    transition: backgroundColor 0.6s ease;
  }

  .navbar-toggler {
    background-color: white;
  }

  @media (max-width: 768px) {
    .activePage {
      display: block;
    }

    .nav-link {
      margin-left: 0;
    }
  }