.container {
    max-width: 1000px; /* Set a maximum width for the content */
    margin-bottom: 4rem;
}

.header {
    margin: 4rem 0 2rem;
}

.researchText {
    line-height: 2;
}

.main-content {
    flex: 1; /* Take up all available space */
    overflow-y: auto; /* Allow scrolling only for the main content */
  }